*.iml
.gradle
/AttenanceTrackerNew/local.properties
/AttenanceTrackerNew/.idea/caches
/AttenanceTrackerNew/.idea/libraries
/AttenanceTrackerNew/.idea/modules.xml
/AttenanceTrackerNew/.idea/workspace.xml
/AttenanceTrackerNew/.idea/navEditor.xml
/AttenanceTrackerNew/.idea/assetWizardSettings.xml
.DS_Store
/AttenanceTrackerNew/build
/AttenanceTrackerNew/captures
.externalNativeBuild
.cxx
local.properties
